.profile{
  display: flex;
  justify-content: center;
  font-family: 'Roboto' , sans-serif;
}

.profileContainer{
  width: 100%;
  max-width: 1024px;
  display: flex;
  margin: 10px;
}

/* left content */
.sidebarProfile{
  background-color: #ffffff;
  width: 308px;
  display: flex;
  flex-direction: column;
  border: 1px solid #d3d3d3;
  height: max-content;
  margin: 0px 3px 0px 3px;
}

.side {
  align-items: center;
  width: 100%;
  background: white; 
  padding: 2em 0;
  border: none;
  cursor: pointer;
}
.side:not(:last-child) {
  border-bottom: 1px solid #003580;  
}
.side.active {
  background: lightcyan;
  font-weight: bold;
}

/* right content */
.panels {
  margin: 0px 3px 0px 3px;
  height: 680px;
}

.panel {
  display: none;
  width: 716px;
}

.panel.active {
  display: block;
}